@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 410px;
    background-color: #1a2030;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
}

.cal-display-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    height: 100px;
    width: 380px;
    background-color: #f4f6f4;
    color: white;
    border-radius: 5px;
    overflow-x: auto;        
    white-space: nowrap;     
}

.keypad-container {
    width: 380px;
    height: 440px;
    background-color: #f4f6f4;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
}

.num-container{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.operator-container{
    display: flex;
    width: 25%;
    gap: 10px;
    flex-direction: column;
}

.cal-key {
    background-color: #393c44;
    width: 77px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
}

.op-key{
    background-color: rgb(255, 166, 0);
}

.cal-key:hover {
    background-color: #393c44;
    opacity: 0.8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#display-text{
    color: black;
    font-size: 32px;
    padding: 15px;
    width: 100%;
    text-align: right;
}

